@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to BrewHub, the place to find your next favorite brewery!</h1>
    <p>
        Use our Patent pending technology to find breweries far and wide. It is our passion to bring you your <br> next favorite brewery, whether its in your hometown, state, or even country we will provide you with <br>
        our top picks from around the world. So when your family is annoying you on vacation you always have a place to go!<br>
    </p>
</div>
