@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/BrewHub.png", height=500, width=500>
    <h1 class="display-4">Welcome to BrewHub, the place to find your next favorite brewery!</h1>
    <p>Use our Patent pending technology to find breweries far and wide</p>
</div>

<!-- Joels brewery search here -->
