@page
@model IndexModel
@{
    ViewData["Title"] = "Our Team";
}

<div class="text-center">
    <h1 class="display-4">This is the BrewHub team!</h1>

    <img src="~/images/JoelF.jpeg", height=500, width=250>
    <p>
        Use our Patent pending technology to find breweries far and wide
    </p>

    <img src="~/images/EthanV.jpeg", height=500, width=400>
    <p>
        Hi! My name is Ethan Villa, I am apart of a great team to present a web application that <br>
        can help people find different breweries. This is a fun and interesting project that helps <br>
        us gain experience about how the real world operates. Enjoy our work!!
    </p>

    <img src="~/images/CollinM.jpeg", height=500, width=650>
    <p>
        Hello! my name is Collin Moore, I wanted to be apart of this team because its a fun project <br> 
        that is actually useful to people who want to keep that adventure and discovery in their life!<br>
        I hope you enjoy!
    </p>

    <img src="~/images/ZachK.jpeg", height=500, width=250>
    <p>
        Use our Patent pending technology to find breweries far and wide
    </p>

    <img src="~/images/RyanK.jpeg", height=500, width=300>
    <p>
        Use our Patent pending technology to find breweries far and wide
    </p>

    <img src="~/images/NickS.png", height=500, width=400>
    <p>
        Hi, I'm Nick Surgent and I'm excited to be a part of this project! <br>
        I hope you can use it to find the perfect brewery for you!
    </p>

    <img src="~/images/JoelF.jpeg", height=500, width=250>
    <p>
        Use our Patent pending technology to find breweries far and wide
    </p>
    <img src="~/images/AshaM.jpeg", height=500, width=250>
    <p>
        Hey there! I'm Asha Mweene, and being part of this awesome project was a blast! <br>
        I really hope you have as much fun with it as I did. This experience taught me a bunch,<br>
        especially about teamwork and taking responsibility for your part in making things a success. <br>
        Cheers!
    </p>
</div>
