@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">

<h1>@ViewData["Title"]</h1>

<p>
    Here at BrewHub we take your privacy and our privacy very serious. We will never sell your data<br> 
    and we hope you'll never sell ours aswell. We do however use your location, but rest assured that<br> 
    it's only so we can show you how far you are from your next favorite second home.
</p>

</div>
