@page
@model webserviceModel
@using System.Net.Http
@using Microsoft.Extensions.DependencyInjection;

@inject HttpClient httpClient

<h1>API Data Results for Brewery</h1>

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.webservice)
        {
            <tr>
                <td>@data.Key</td>
                <td>@data.Value</td>
            </tr>
        }
    </tbody>
</table>
